* {
    border-radius: 0 !important;
    -mos-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}

.container.articleForm {
    max-width:600px;
    min-height: 500px;
    margin:1em auto;
}

textarea.articleFullText {
    height: 300px;
}

#error {
    position: fixed;
    top: 0;
    width:600px;
    display:none;
}

#error .controls .alert {
    margin-bottom: 0;
}

.articleItem {
    margin-bottom: 1.5em;
    padding: 1em 0;
}