</div>
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
        <!-- Datepicker plugin -->
        <script type="text/javascript" src="js/bootstrap-datepicker.js"></script>
        
        <!-- rich text editor for article -->
        <script type="text/javascript" src="plugins/rte/jquery.rte.js"></script>
        <script type="text/javascript" src="plugins/rte/jquery.rte.tb.js"></script>
        
        <script type="text/javascript" src="js/master.js"></script>
    </body>
</html>